{% extends 'public.html.twig' %}

{% block title %}Mise à jour du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 cadre-bord-login text-center bg-dark my-5">
                <h2>Mise à jour du mot de passe</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-outline-success">Validez votre nouveau mot de passe</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}