{% extends 'public.html.twig' %}

{% block title %}F.A.Q.{% endblock %}

{% block body %}
    <div class="container my-2">
        <h1>Questions fréquemments posées</h1>
        <ul>
            <li>
                <a href="" class="noir">
                    Qui a le droit créer des projets sur ce site ?
                    <div class="bg-light p-2">
                        <p>
                            Actuellement le site est en version de test. Seuls quelques personnes ont droits de créer des projets.
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="noir">
                    Comment fonctionne ce site ?
                    <div class="bg-light p-2">
                        <p>
                            Actuellement le site permet de gérer des images, classées par album et par projet. <br>
                            Vous avez la possibilité de rendre chacun d'entre eux privé ou public. <br>
                            <strong>A savoir que les photos qui auront toujours le nom "Photo", ne pourront pas devenir public !</strong>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="noir">
                    Y a t'il une limitation ?
                    <div class="bg-light p-2">
                        <p>
                            Actuellement le site n'a pas de limitation, mais à terme, il y en aura surement.
                        </p>
                    </div>
                </a>
            </li>
        </ul>

    </div>
{% endblock %}