<div class="container-fluid">
    <div class="row bg-dark py-3 text-white justify-items-center">
        <div class="col-md-4 mt-2">
            <a href="{{ path('faq_public') }}" class="text-white">F.A.Q.</a>
        </div>
        <div class="col-md-4 text-center">
            @2019 - ExpoPhoto - Belgique <br>
            Version BETA ... Test avec quelques utilisateurs privilégiés.
        </div>
        <div class="col-md-4 text-right mt-2">
            Réalisé sous : <br>
            Symfony 4
        </div>
    </div>
</div>