<form method="post" action="{{ path('projet_delete', {'id': projet.id}) }}" onsubmit="return confirm('Etês-vous certain de vouloir supprimé ce projet, albums et photos liés ?');" style="display: inline-block">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projet.id) }}">
    <button class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
</form>
