{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle Etiquette{% endblock %}

{% block body %}
    <div class="container my-3">
        <h1>Création d'une nouvelle étiquette</h1>
        {{ include('admin/etiquette/_form.html.twig') }}
    </div>
{% endblock %}
