<div class="row">
    <div class="col-md-12 py-4 text-white text-center" style="
    {% if projet.filename is not empty %}
        background-image: url({{ vich_uploader_asset(projet, 'imageFile') }});
        height: 200px;
    {% else %}
        background-color: {{ color }}
    {% endif %}
    ">
        <div class="row">
            <div class="col text-ombre">
                <h3>Projet : {{ title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col text-ombre">
                {{ description }}
            </div>
        </div>
    </div>
</div>