{% extends 'base.html.twig' %}

{% block title %}Nouvel album{% endblock %}

{% block body %}
    <div class="container">
        <h1>Création d'un nouvel album</h1>
        {{ include('album/_entete.html.twig', {title: projet.title, description: projet.description, color: projet.color, projet: projet}) }}
        <div class="row mt-2">
            <div class="col-md-12 cadre-form">
                {{ include('album/_form.html.twig', {button_label: 'Valider la création de l\'album'}) }}
            </div>
        </div>
    </div>
{% endblock %}
